@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito:ital,wght@0,200;0,300;0,600;1,200&display=swap');


:root{
    --purple: #b253b9;
    --white: #ffffff;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}